@font-face {
    font-family: 'Lucida';
    src: url('../font/6623-webfont.eot');
    src: url('../font/6623-webfont.eot?#iefix') format('embedded-opentype'), url('../font/6623-webfont.woff2') format('woff2'), url('../font/6623-webfont.woff') format('woff'), url('../font/6623-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
ul {
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
}
a {
    display: block;
    text-decoration: none;
    color: #fff;
    font-family: Lucida;
}
input {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Lucida, arial, sans-serif;
    font-size: 11px;
    width: 113px;
    height: 17px;
}

/* ====================GRID:====================  */

.wrapper-content {
    width: 911px;
    margin: 0 auto;
    box-sizing: border-box;
    color: #5e696d;
}
.top-line {
    height: 54px;
    display: flex;
    align-items: center;
    padding-top: 7px;
}
.main-img {
    height: 237px;
}
.menu-line {
    display: flex;
    justify-content: flex-end;
    height: 34px;
    margin-top: 6px;
    background-image: url(../img/bc-menu.png);
    background-repeat: repeat-x;
    border-radius: 6px;
}
.find-line {
    height: 136px;
    margin-top: 11px;
    display: flex;
    justify-content: space-between;
}
main.wrapper-content {
    margin-top: 14px;
    overflow: hidden;
    min-height: 100%;
}
.brend-logo__line {
    height: 62px;
    width: 680px;
}
.footer-menu-line {
    height: 100px;
    background-color: #213a4d;
}

/* ====================GRID END:====================  */


/* --------------------TOP-LINE:--------------------  */

.phone {
    display: inline-flex;
    align-items: flex-end;
    width: 307px;
    padding: 0 0 0 8px;
}
.phone__icon {
    display: block;
    width: 22px;
    height: 21px;
    background-image: url(../img/sprite-icon.png);
    background-position: -6px -38px;
    margin: 4px 3px 0 0;
}
.phone__number {
    font: 18px arial;
    letter-spacing: 0.023em;
    margin: 0 6px 0 0;
}
.avtoriz {
    width: 495px;
    height: 25px;
    background-image: url(../img/bc-login.png);
    background-repeat: repeat-x;
    box-shadow: 2px 3px 6px -1px rgba(0, 0, 0, 0.6);
    border-radius: 3px;
    display: inline-flex;
    align-items: center;
    padding: 0;
}
.avtoriz__icon {
    width: 25px;
    height: 25px;
    background-image: url(../img/sprite-icon.png);
    background-position: -3px -2px;
}
input[type="text"] {
    margin: 0 8px 0 0;
    padding: 0 0 0 2px;
}
input[type="password"] {
    margin: 0 9px 0 0;
    padding: 0 0 0 3px;
}
::-webkit-input-placeholder {
    font-size: 11px;
}
.login, .signup, .forgot {
    font-size: 11px;
    margin-bottom: 1px;
}
.line {
    width: 1px;
    height: 9px;
    background-color: #fff;
    margin: 0 5px 0 4px;
}
.signup {
    letter-spacing: -0.023em;
    margin: 0 20px 1px 0;
}
.forgot {
    color: #bfbfbf;
    border-bottom: 1px solid #bfbfbf;
    letter-spacing: 0.05em;
    line-height: 14px;
}
.navi {
    width: 77px;
    height: 21px;
    box-sizing: border-box;
    border: 1px solid #c1c8cb;
    border-radius: 10px;
    background-color: #fff;
    margin: 0 0 3px 17px;
    padding-left: 3px;
}
.navi__item {
    display: inline-block;
    margin: 0;
}
.navi__link {
    width: 20px;
    height: 20px;
    background-image: url(../img/sprite-icon.png);
}
.navi__item:first-child a {
    background-position: -6px -67px;
}
.navi__item:nth-child(2) a {
    background-position: -9px -86px;
}
.navi__item:last-child a {
    background-position: -11px -106px;
}

/* ----------------------MAIN-IMG:----------------------  */

.main-img {
    height: 237px;
    background-image: url(../img/main-img.jpg);
    background-repeat: no-repeat;
    background-position: 1px 0;
}

/* ----------------------MENU:----------------------  */

.menu {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    max-width: 632px;
    height: 34px;
    margin-right: 46px;
}
.menu__item {
    margin-top: 4px;
    height: 30px;
    display: inline-block;
    text-align: center;
}
.menu__item:nth-child(2) {
    margin-left: -3px;
}
.menu__item:nth-child(3), .menu__item:nth-child(4) {
    margin-left: -8px;
}
.menu__item:nth-child(5) {
    margin-left: -12px;
}
.menu__link {
    color: #b1bcc0;
    font-size: 13.64px;
    text-transform: uppercase;
    line-height: 26px;
    padding: 0 19px;
    border-radius: 13px;
}
.menu__link:hover {
    color: #fff;
    background-image: url(../img/bc-menu__hover.png);
    background-repeat: repeat-x;
}

/* ----------------------BASKET:----------------------  */

.basket {
    width: 233px;
    height: 34px;
    margin-top: 0px;
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
}
.basket__icon {
    display: inline-block;
    width: 34px;
    height: 34px;
    background-image: url(../img/sprite-icon.png);
    background-position: 0 -118px;
}
.basket__title {
    margin-bottom: 2px;
    letter-spacing: 0.04em;
    display: block;
    font-family: arial;
    font-size: 11px;
    color: #929b9f;
}
.basket__quantity, .basket__count {
    margin-left: 2px;
    display: block;
    font-family: arial;
    font-size: 12px;
    color: #0d5a8f;
}
.basket__quantity {
    margin-right: 14px;
}
.basket__count {
    margin-left: 11px;
    letter-spacing: 0.03em;
}
.basket__count::after {
    content: " грн."
}

/* ----------------------FIND:----------------------  */

.find-po-avto, .find-tires, .find-disc {
    height: 136px;
    border-radius: 18px;
    border: 1px solid #c4c4c4;
    box-sizing: border-box;
    box-shadow: 4px 4px 6px 0px rgba(0, 0, 0, 0.4);
}
.find-po-avto {
    width: 415px;
    margin-left: 5px;
}
.find-tires {
    width: 193px;
    margin-left: 5px;
}
.find-disc {
    width: 268px;
    margin-right: 6px;
}

/* ----------------------MAIN----------------------  */
/* ----------------------MAIN----------------------  */
.left, .right, .content {
    display: inline-block;
    padding-bottom: 20000px;
    margin-bottom: -19972px;
    vertical-align: top;
}
.content {
    width: 526px;
    margin-left: 5px;
    margin-right: 5px;
}
.left, .right {
    width: 182px;
}

.left {
    padding-top: 4px;
}

.right {
    padding-top: 2px;
}
.catalog {
    font-family: Lucida, arial, sans-serif;
    font-size: 13px;
    text-transform: uppercase;
    border-radius: 20px;
    height: 27px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #c4c4c4;
    color: #114165;
    padding: 6px 0 0 26px;
    letter-spacing: -0.015em;
}

.catalog__goods {
    box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.4);
    background-image: url(../img/sprite-icon.png);
    background-position: -5px -156px;
    background-repeat: no-repeat;
    font-size: 13px;
}

.left .catalog__goods {
    margin-bottom: 13px;
}

.right .catalog__goods {
    margin-bottom: 14px;
}
.catalog__label {
    width: 150px;
    height: 28px;
    background-image: url(../img/sprite-icon.png);
    background-position: -3px -191px;
    background-repeat: no-repeat;
    font-size: 14px;
    padding-left: 27px;
    z-index: 2;
}

.left .catalog__label {
    margin-left: 2px;
}

.shiny {
    padding-left: 53px;
}
.shiny .catalog__item {
    list-style: circle;
    height: 26px;
    line-height: 25px;
}

.shiny .catalog__link {
    color: #465961;
    margin-left: -6px;
    font-size: 12.67px;
}

.catalog__link:hover {
    text-decoration: underline;
    font-family: arial;
    font-size: 14px;
    font-weight: bold;
    font-style: italic;
    color: #0c3256;
}

.catalog__label__disk {
    margin-top: -4px;
}

.disk .catalog__item {
    height: 26px;
    line-height: 23px;
}

.catalog__label__bolt {
    margin-top: -5px;
    margin-bottom: 1px;
}

.bolt .catalog__item {
    height: 25px;
    line-height: 24px;
}

.right .catalog__goods {
    background-position: -4px -156px;
    padding: 6px 0 0 29px;
    letter-spacing: 0.05em;
}

.right .catalog__label {
    margin-left: 15px;
    width: 136px;
}

.brend__shiny {
    padding-left: 25px;
    padding-bottom: 8px;
}

.brend__disk {
    padding-top: 2px;
}

.brend__item {
    height: 26px;
    line-height: 26px;
}

.brend__item input {
   width: 9px;
   height: 9px;
   margin: 0 14px 0 0;
   box-shadow: inset 2px 2px 0px 0px rgba(0,0,0,0.5),
                     1px 1px 0px 0px rgba(0,0,0,0.5);
}

.brend__item label {
   font: 12.73px 'Lucida';
   color: #465961;
   text-transform: capitalize;
}

button {
   width: 80px;
   height: 26px;
   border-radius: 15px;
   margin: 6px 0 0 24px;
   color: #e5e9ea;
   font: 11px arial;
   text-transform: uppercase;
   background-image: url(../img/bc-button.png);
   letter-spacing: 0.025em;
   border: none;
   box-shadow: 1px 2px 5px 0px rgba(0,0,0,0.5);
}

button:focus {
    box-shadow: none;
    border: none;
    outline: none;
}

/* ----------------------MAIN----------------------  */
/* ----------------------CONTENT----------------------  */
.gradient-container {
    width: 526px;
    padding-left: 22px;
    padding-right: 12px;
    padding-bottom: 22px;
    box-sizing: border-box;
    background: linear-gradient(to bottom, rgba(228,230,231,1) 0%, rgba(146,166,176,1) 100%);
    background: -o-linear-gradient(top, rgba(228,230,231,1) 0%, rgba(146,166,176,1) 100%);
}

.tovar {
    display: inline-block;
    margin: 15px 25px 8px 0;
    width: 139px;
}

.tovar:nth-child(3n+3) {
    margin-right: 0;
}

.brend {
    font-family: 'Lucida';
    font-size: 14.59px;
    color: #206988;
    text-align: center;
    text-transform: capitalize;
}

.model {
    font-family: 'Lucida';
    font-size: 12.77px;
    color: #1f2528;
    text-align: center;
    text-transform: capitalize;
}

.background-tovar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 139px;
    height: 129px;
    background-color: #fff;
    border: 1px solid #cfd4d6;
    border-radius: 8px;
    box-sizing: border-box;
}

.cost {
    font-family: arial;
    font-size: 16px;
    font-weight: bold;
    font-style: italic;
    color: #114165;
    text-align: center;
    text-transform: capitalize;
    margin-top: 2px;
    margin-left: 8px;
    letter-spacing: 0.03em;
}

.cost:after {
    content: "грн.";
        font-family: arial;
        font-size: 12px;
        font-weight: bold;
        font-style: italic;
        color: #114165;
        margin-left: 5px;
}

/* -----------------------FOOTER----------------------  */
/* ------------------------LOGO-----------------------  */

.brend-logo__link {
    display: inline-block;
    height: 42px;
    margin: 0;
}

.brend-logo__link:first-child {
    background-image: url(../img/sprite-logo.png);
    background-position: -5px -35px;
    width: 85px;
} 

.brend-logo__link:nth-child(2) {
    background-image: url(../img/sprite-logo.png);
    background-position: -1px -117px;
    width: 97px;
    margin-left: 8px;
}

.brend-logo__link:nth-child(3) {
    background-image: url(../img/sprite-logo.png);
    background-position: -9px -191px;
    width: 79px;
    margin-left: 8px;
} 

.brend-logo__link:nth-child(4) {
    background-image: url(../img/sprite-logo.png);
    background-position: -18px -270px;
    width: 61px;
    margin-left: 8px;
}

.brend-logo__link:nth-child(5) {
    background-image: url(../img/sprite-logo.png);
    background-position: -11px -351px;
    width: 75px;
    margin-left: 8px;
}

.brend-logo__link:nth-child(6) {
    background-image: url(../img/sprite-logo.png);
    background-position: -19px -427px;
    width: 60px;
    margin-left: 8px;
}

.brend-logo__link:nth-child(7) {
    background-image: url(../img/sprite-logo.png);
    background-position: -17px -506px;
    width: 63px;
    margin-left: 6px;
}

.brend-logo__link:nth-child(8) {
    background-image: url(../img/sprite-logo.png);
    background-position: -10px -585px;
    width: 76px;
    margin-left: 6px;
}

/* ------------------------FOOTER MENU-----------------------  */

.footer-menu-line .menu {
    display: block;
    width: 314px;
    margin: 0 auto;
}

.footer-menu-line .menu__item {
    margin-top: 11px;
    text-align: center;
    height: 20px;
}

.footer-menu-line .menu__link {
    font: 12px arial;
    color: #bec6c9;
    text-transform: capitalize;
    border-right: 1px solid #bec6c9;
    border-radius: 0;
    padding: 0 12px;
}

.footer-menu-line .menu__item:first-child .menu__link{
    padding-right: 19px;
}

.footer-menu-line .menu__item:nth-child(3) .menu__link{
    padding: 0 14px 0 17px;
}

.footer-menu-line .menu__item:last-child .menu__link {
    border-right: 0;
    padding: 0 0 0 20px;
}

.footer-menu-line .menu__link:hover {
    background: none;
    color: #52abcb;
}

.footer-copy {
    display: block;
    margin: 0 auto;
    width: 157px;
    margin-top: 5px;
    font: 10px arial;
    letter-spacing: 0.03em;
    color: #7f4740;
}